<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{context.base}}/assets/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="{{context.base}}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{context.base}}/css/state.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{context.base}}/images/logo-base-32.png">
    <title>{{context.title}}</title>
</head>
<body>
<p/>
<div class="container">
    <div class="jumbotron">

        <h1>
            <img src="{{context.base}}/images/logo-base-64.png"/>
            {{groupName}} - {{counterName}}
        </h1>

        <div class="row">
            <div class="column">
                <div class="card">
                    <p><i class="fa fa-check fa-2x"></i></p>
                    <h2>{{count}}</h2>
                    <p>Visits</p>
                </div>
            </div>
        </div>

        <hr/>

        <p align="right"><small>
            <i>
                <a href="{{context.projectURL}}">{{context.appcode}}</a> {{context.buildVersion}}
            </i>
        </small>
        </p>
    </div>
</div>

<script src="{{context.base}}/assets/jquery/jquery.min.js"></script>
<script src="{{context.base}}/assets/popper.js/umd/popper.min.js"></script>
<script src="{{context.base}}/assets/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
