@import counters.routing.StateContext
@(state: StateContext)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="@state.context.base/assets/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="@state.context.base/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="@state.context.base/css/state.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="@state.context.base/images/logo-base-32.png">
    <title>@state.context.title</title>
  </head>
  <body>
    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-5">
        <div class="jumbotron">

          <h1 class="display-4">
            <img src="@state.context.base/images/logo-base-64.png"/>
            @state.groupName - @state.counterName
          </h1>

          <div class="row">
            <div class="column">
              <div class="card">
                <p><i class="fa fa-check fa-2x"></i></p>
                <h2>@state.count</h2>
                <p>Visits</p>
              </div>
            </div>
          </div>

          <hr class="my-4"/>

          <p class="text-right"><small>
            <i>
              <a href="@state.context.projectURL">@state.context.appcode</a> @state.context.buildVersion
            </i>
          </small>
          </p>

        </div>
      </div>
    </div>

    <script src="@state.context.base/assets/jquery/jquery.min.js"></script>
    <script src="@state.context.base/assets/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
